<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <title>Spring Fundamentos - Listagem de Clientes</title>
  </head>
  <body>
    <body>
      <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
        </div>
      </nav>
      <main class="container text-center">
        <div class="row">
          <div class="col-sm-12">
            <h1>Listagem de Clientes</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h5 th:if="${#lists.isEmpty(clientes)}">
              Não há clientes cadastrados no momento
            </h5>
            <table class="table" th:unless="${#lists.isEmpty(clientes)}">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Data de Nascimento</th>
                  <th scope="col">Profissão</th>
                  <th scope="col">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="cliente : ${clientes}">
                  <th scope="row" th:text="${cliente.id}"></th>
                  <td>
                    <a
                      th:text="${cliente.nome}"
                      th:href="@{/cliente/{id} (id=${cliente.id})}"
                    ></a>
                  </td>
                  <td
                    th:text="${#temporals.format(cliente.dataNascimento, 'dd/MM/yyyy')}"
                  ></td>
                  <td th:text="${cliente.profissao}"></td>
                  <td>
                    <a
                      th:href="@{/cliente/{id}/editar (id=${cliente.id})}"
                      class="btn btn-warning"
                    >
                      Editar
                    </a>
                    <a
                      th:href="@{/cliente/{id}/excluir (id=${cliente.id})}"
                      class="btn btn-danger"
                      onclick="return confirm('Tem certeza que deseja excluir o cliente?');"
                    >
                      Excluir
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="dol-sm-12">
            <a th:href="@{/cliente/cadastrar}" class="btn btn-primary"
              >Cadastrar novo Cliente</a
            >
          </div>
        </div>
      </main>

      <script th:src="@{/js/bootstrap.js}"></script>
    </body>
  </body>
</html>
