<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::title}, ~{::main})}">
  <head>
    <title>Spring Fundamentos</title>
  </head>
  <body>
    <main class="container text-center">
      <div class="row">
        <div class="col-sm-12">
          <h1>Olá</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <p th:text="${boasVindas}"></p>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p>Lista de Aulas</p>
          <ul>
            <li th:each="aula : ${aulas}" th:text="${aula}"></li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
